# Byte-compiled
__pycache__/
*.pyc

# sqlite
/*.sqlite3

# migrations
patients/migrations/*

# passwords
passwords.txt

# virtualenv
env/
.env
.venv/

# IDE related (intelliJ, vim files)
.idea/
*.swp
*.swo
.vscode/*

# Keep vscode debugger configuration
!.vscode/launch.json

# coverage
.coverage
htmlcov/

# docs build

docs/_build

# project custom config file
config.json

# MacOS
.DS_Store
katsu.code-workspace

# Backup files
chord_metadata_service/mohpackets/data/backup_db/*
chord_metadata_service/mohpackets/data/small_dataset/fixtures/*
chord_metadata_service/mohpackets/data/medium_dataset/fixtures/*
chord_metadata_service/mohpackets/data/large_dataset/fixtures/*

# Staticfiles
config/staticfiles/*
