# Byte-compiled
__pycache__/
*.pyc

# virtualenv
env/
.env
.venv/
.tox

# IDE related (intelliJ, vim files)
.idea/
*.swp
*.swo
.vscode/*

# coverage
.coverage
htmlcov/

# MacOS
.DS_Store
katsu.code-workspace

# Staticfiles
config/staticfiles/*
