# Byte-compiled
__pycache__/
*.pyc

# sqlite
/*.sqlite3

#PostgreSQL
postgres/

# migrations
patients/migrations/*

# passwords
passwords.txt

# virtualenv
env/
.env

# IDE related (intelliJ, vim files)
.idea/
*.swp
*.swo
.vscode/*

# Keep vscode debugger configuration
!.vscode/launch.json

# coverage
.coverage
htmlcov/

# docs build

docs/_build

# project custom config file
chord_metadata_service/config/

# MacOS
.DS_Store

tmp/
chord_metadata_service/vrs
