candigv2-authx@git+https://github.com/CanDIG/candigv2-authx.git@new-auth-model
Django==4.2
psycopg==3.1.8
djangorestframework==3.14.0
django-cors-headers==3.14.0
django-filter==23.1
drf-spectacular==0.26.1
